



.header
    background: #a8e3e7
    padding: 15px 0
    &-block
        display: grid
        grid-template-columns: 1fr 1fr
        justify-content: space-between
    &__logo
        font-weight: 700
        font-size: 26px
        text-transform: uppercase
    &__button
        justify-self: end
        align-self: center
        justify-content: center
        align-content: center
    &__btn
        width: 30px
        height: 20px
        margin-right: 1vw
        position: relative
        cursor: pointer
    &__btn:after
        content: ''
        position: absolute
        top: 0
        width: 20px
        background-color: #000000
        height: 4px
    &__btn span
        content: ''
        position: absolute
        top: 9px
        width: 20px
        background-color: #000000
        height: 3px
    &__btn:before
        content: ''
        position: absolute
        bottom: 0
        width: 20px
        background-color: #000000
        height: 3px